<h2><%=  l(:label_room) << ' #' << @room.id.to_s %></h2>

<%= form_for  [ :project, :team10, @room ], :url => { :action => :update, :id => @room.id } do |f| %>

<%= render 'form' , f: f, readonly_option: false  %>

<% end %>


<hr>
<%= link_to l(:label_details), { :action => 'show', :id => @room.id } %>
<%= link_to l(:label_room_list), { :action => 'index' } %>